<div class="container">
  <div class="indexHeadBox">
    <table class="table">
      <tr>
        <td class="indexMenBox selected"><a href="">Men</a></td><td class="indexWomenBox"><a href="">Women</a></td>
      </tr>
    </table>
  </div>
  <div class="indexMainBox col-md-12">
    <div class="indexBox1">
      <h4><i class="glyphicon glyphicon-comment"></i> レビュー＆コメント数ランキング</h4>
    </div>
    <hr>
    <div class="indexBox2 clearfix">
      <div class="row">
        <ul class="pictures">
          <% @ranking.each.with_index(1) do |picture, i| %>
            <div class="box__cell w40 align-center">
              <li>
                <p class="number"><i class="glyphicon glyphicon-king"></i> <%= i %></p>
                <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="pagiNation row">
      <div class="page col-md-12">
        <%= paginate(@ranking) %>
      </div>
    </div>
  </div>
</div>
