<div class="container">
  <div class="newView">
    <div class="newBox1">
      <div class="newBox2">
        <h4><i class="glyphicon glyphicon-bell"></i> 編集ページ</h4>
        <div class="newBox3">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>