<div class="index">
  <header class="header">
    <h2 class="text_h2">
      <p class="new">新着一覧</p>
    </h2>
  </header>
  <div class="container">
    <div class="row">
      <ul class="main">
        
      </ul>
    </div>
  </div>
</div>