<div class="index">
  <div class="container">
    <head class="head">
      <h4 class="text_middle">
        <i class="glyphicon glyphicon-camera"></i> 新着一覧
      </h4>
    </head>
  </div>
  <body>
    <nav>
      <div class="container">
        <ul class="pagination">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</div>
