<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="mainBox">
      <div class="subBox1">
        <h4><i class="glyphicon glyphicon-bell"></i>コーディネート情報</h4>
      </div>
      <hr>
      <div class="subBox2">
        <p>
          <%= image_tag("#{@picture.image}", height: "550px", width: "400px") %>
        </p>
        <div class="showText">
          <a href="/products/<%= @picture.id %>/reviews/new">コメントやアドバイスを書く</a>
        </div>
        <div class="leftInfo">
          <ul class="showUl clearfix">
            <li class="li1">ジャンル<p>value1<p></li>
            <li class="li2">評価<p>value2<p></li>
            <li class="li3">User_name<p>value3<p></li>
            <li class="li4">User_comment<p>value4<p></li>
            <li>投稿日時<p>value5<p></li>
          </ul>
        </div>
        <div class="Review">
          <p>◎ みんなからのコメント＆アドバイス</p>

        </div>
      </div>
    </div>
  </body>
</html>
