body{
  background-color: #CCCCCC;
}

.navbar{
  background-color: #000000;
  color: #FFFFFF;
}

.navbar-brand{
  font-size: 26px;
  margin-left: 30px;
}

.sign{
  margin-right: 45px;
}

.mainView{
  margin: 0 auto;
}

.SignUpView{
  text-align: center;
  margin: 110px 0 25px 0;
}

.field{
  text-align: center;
  margin: 20px 0 15px 0;
}

.actions{
  margin: 18px;
  text-align: center;
}

.logIn{
  text-align: center;
  margin-top: 8px;
}

.signUp{
  margin: 8px 0;
}

.SignUpView h4{
  margin: 30px;
}

.SignUpView p{
  font-size: 17px;
}

.field p{
  font-size: 14px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.footBox{
  margin-top: 150px;
}

.footBox p{
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.registration {
  width: 300px;
  height: 30px;
}