// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// img{
//   max-width: 200px;
//   max-height: 250px;
// }


.indexHeadBox{
  width: 300px;
  margin: 17px auto;
  padding-top: 85px;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.indexMenBox{
  text-align: center;
  font-size: 30px;
  width: 130px;
  height: 45px;
  background-color: #0000AA;
}

.indexMenBox a{
  color: #FFFFFF;
}

.indexMenBox a:hover {/*マウスをのせたとき*/
  color: #00FF00;
  text-decoration:underline;
}

.indexWomenBox{
  text-align: center;
  font-size: 30px;
  width: 130px;
  height: 45px;
  background-color: #AA0000;
}

.indexWomenBox a{
  color: #FFFFFF;
}

.indexWomenBox a:hover {/*マウスをのせたとき*/
  color: #00FF00;
  text-decoration:underline;
}

.indexMainBox{
  min-height: 600px;
}

.indexBox1 h4{
  padding: 20px 0 0 40px;
}

.pictures li{
  list-style: none;
  float: left;
  height: 200px;
}

.pagiNation{
  margin: 20px 0 75px 0;
}

.page{
  text-align: center;
  font-size: 18px;
}





.newBox1{
  margin-top: 110px;
}

.newBox2{
  background-color: #FFFFFF;
  min-height: 630px;
  width: 700px;
  margin: 25px auto;
}

.newBox2 h4{
  padding: 20px 0 0 25px;
}

.p1{
  margin: 50px 0 10px 35px;
  font-size: 16px;
}

.p2{
  margin: 10px 0 50px 45px;
  font-size: 16px;
}

.p3{
  margin: 30px 0 5px 35px;
  font-size: 16px;
}

.newBox3 .test{
  margin: 10px 0 10px 25px;
  font-size: 15px;
}

.p4{
  width: 90%;
  margin: 10px auto;
}

.p5{
  width: 150px;
  height: 30px;
}

.newSubBox{
  background-color: #FFFFFF;
  height: 200px;
  width: 700px;
  margin: 30px auto;
}

.p6 {
  font-size: 15px;
  text-align: center;
  padding: 8px;
}






.showBox1{
  margin-top: 110px;
}

.headBox{
  width: 96%;
}

.leftShowBox{
  margin-top: 10px
}


.showBox2{
  margin: 30px 0 15px 30px;
}

.userImage{
  display: block;
  margin: 15px auto;
}

.showBox4{
  margin: 15px 0 45px 0;
  text-align: center;
  font-size: 20px;
}

.showBox5{
  margin-top: 80px;
  padding-top: 1px;
  background-color: #FFFFFF;
  min-height: 570px;
}

dt{
  margin: 25px 0 8px 5px;
  font-size: 16px;
}

dd{
  margin: 5px 10px 5px 30px;
  font-size: 16px;
}

.showBox6{
  margin: 30px 0 85px 0;
  background-color: #FFFFFF;
  min-height: 200px;
}

.showBox6 p{
  font-size: 16px;
  padding-top: 15px;
}
