// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// img{
//   max-width: 200px;
//   max-height: 250px;
// }

.newSubBox1{
  margin: 20px 0 0 10px;
}

.postView{
  background-color: #FFFFFF;
  width: 600px;
  height: 680px;
  margin: 0 auto;
}

.picText{
  margin: 20px auto 10px;
}

.pic{
  margin: 0 auto 30px;
}

.textInfo{
  margin: 0 auto 15px;
}

.comment{
  margin: 0 auto 10px;
}

.textCode{
  margin: 15px auto;
}

.submit{
  margin: 35px 0 0 180px;
}

.subBox2{
  margin: 0 auto;
}