// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// img{
//   max-width: 200px;
//   max-height: 250px;
// }

h2{
  text-align: center;
  vertical-align: top;
}

hr{
  border-color: #000000;
  width: 92%;
}

.indexHeadBox{
  width: 300px;
  margin: 0 auto;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.indexMenBox{
  float: left;
  color: #FFFFFF;
  width: 130px;
  height: 40px;
  background-color: #0000AA;
}

.indexWomenBox{
  float: left;
  color: #FFFFFF;
  width: 130px;
  height: 40px;
  background-color: #AA0000;
}

#indexMainBox{
  width: 95%;
  height: 1300px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.indexBox1 h4{
  padding: 20px 0 0 40px;
}

.indexBox2{
  margin: 0 auto;
}

.pictures li{
  list-style: none;
  float: left;
  height: 200px;
}

.newSubBox1{
  margin: 20px 0 0 10px;
}

.newSubBox2{

}

.postView{
  background-color: #FFFFFF;
  width: 600px;
  height: 680px;
  margin: 0 auto;
}

.picText{
  margin: 20px auto 10px;
}

.pic{
  margin: 0 auto 30px;
}

.textInfo{
  margin: 0 auto 15px;
}

.comment{
  margin: 0 auto 10px;
}

.textCode{
  margin: 15px auto;
}

.submit{
  margin: 35px 0 0 180px;
}

.subBox1 h4{
  padding: 20px 0 0 40px;
}

.subBox2 p{
  margin: 20px 0 20px 40px;
}

.showText{
  font-size: 17px;
  text-align: left;
  margin-left: 125px;
}

.leftInfo{
  margin: 20px 0 0 40px;
}

.li1 p{
  color: #000000;
  float: left;
}

.li2 p{
  color: #000000;

}

.li3 p{
  color: #000000;

}

.li4 p{
  color: #000000;

}