// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.number{
  color: #CC0000;
  font-size: 18px;
}

.number i{
  color: #0000AA;
}