// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


hr{
  border-color: #000000;
  width: 92%;
}

.review{
  margin: 60px 0 20px 110px;
}

.submit{
  margin: 0 250px;
}