// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.p3{
  margin: 50px 0 20px 40px;
}

.p5{
  margin: 40px auto;
  width: 150px;
}