body{
  background-color: #E6E6FA;
}

h2{
  margin: 0 auto;
}

hr{
  border-color: #000000;
  border-style: outset;
  width: 85%;
}

#mainBox{
  width: 95%;
  height: 720px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.subBox1 p{
  padding: 15px 0 0 20px;
}

.postView{
  background-color: #FFFFFF;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.newSubBox1{
  margin: 20px 0 0 10px;
}

.pictures li{
  list-style: none;
  float: left;
}

.picText{
  margin: 30px auto 10px;
}

.pic{
  margin: 0 auto 20px;
}

.text{
  margin: 0 auto 20px;
}

.comment{
  margin: 0 auto 30px;
}

.post{
  margin: 10px auto;
}

.submit{
  margin: 0 auto;
}
